.jumbotron {
    background-image: url("/assets/img/burger1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  725px 600px;
    /* background-size: cover; */
    margin-top: 20px;
}


body {
	background-color: #ebcf61;
	margin-top: 20px;
}

#uneaten-burger {
    background-color: aqua;
}