#header {
     /* margin-bottom: 0px; */
    /* opacity: 0.2; 
    color: #fff; 
    background: #000  
    url("/assets/img/burger1.jpeg");  */
    /* background-image: url("/assets/img/burgert.jpeg"); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    /* width: 550px;
    margin-top: 10px; */
    height: 315px;
    text-align: center;
    /* font-size: 60px;  */
 }


#heading1 {
    text-align: center;
    font-display: bold;
    display: block;
    font-size: 50px;
    font-family: 'Eater', cursive;
    margin-top: 45px;
    margin-bottom: 15px;

}


p {
    font-display: bold;
    font-size: 26px; 
    font-family: 'Eater', cursive; 
}

#burger-app {
    background-color: rgba(245, 241, 2, 0.979);
    background-size: cover;
    text-align: center;
    /* margin-bottom: 100px; */
    padding-bottom: 55px;
}


li {
    font-size: 20px;
    list-style-type: none;
}


#add {

    margin-left: 25%;
} 


#uneaten-burger {  
    background-color: #ececece1; 
    color:  rgb(136, 134, 134);  
    border-color: rgb(114, 113, 113);  
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    padding: 17px;
    margin-left: 100px;
    }
    
#uneaten-burger:hover {background-color: #eeeae8;}
    
#uneaten-burger:active {
    background-color:#f8f5f5;
    box-shadow: 0 5px #dacfcf;
    transform: translateY(4px);
}

#eat-it {
    text-align: center;
    font-display: bold;
    font-size: 18px; 
    font-family: 'Eater', cursive;
    background-color: rgb(245, 153, 99)  
}

#eat-it:hover {background-color: #d69473;}

#uneaten-burger:active {
    background-color:rgb(245, 153, 99);
    box-shadow: 0 5px #b37777f1;
    transform: translateY(4px);
}

/* #submit:hover {background-color: #9da2e9;}

#submit:active {
    box-shadow: 0 5px #69a5e9;
    transform: translateY(4px); 
} */






/* body {
    font-family: 'Germania One', cursive;
    width: 100%;
    background-image: url("/assets/img/flying.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

h1 {
    margin: auto 0;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 2%;
    text-align: center;
}

#available {
    text-align: center;
    margin-right: 6%;
    margin-left: 10%;


}

#devoured {
    /* float: left; */
    /* text-align: right;

} */


/* #devoured {
    float: right;
} */











